html {
    background-color: #d9d9d9;
    font-family: Courier New, NanumGothic, sans-serif;
}

img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: bottom;
}

a {
    text-decoration: none;
    color: black;
}

p {
    margin: 0;
}

a:visited {
    color: black;
}

a:hover {
    opacity: 0.5;
    transition: 0.1s;
}

body {
    margin: 0;
}

figcaption {
    color: grey;
    font-style: italic;
}

/* header */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #76323f;
    height: 8vh;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 2;
}

.header-title {
    color: #d7c3c7;
    font-size: 4vh;
}

.header-menu {
    height: 8vh;
    position: absolute;
    top: 0;
    right: 0;
}

.header-link {
    display: block;
    height: 100%;
    width: 10vw;
    font-size: 3vh;
    color: #d7c3c7 !important;
    text-decoration: none;
    line-height: 7vh;
    border-left: solid 2px #d7c3c7;
}

.header-link:hover {
    opacity: 1;
    transition: 0.1s;
    background-color: #d7c3c7;
    color: #76323f !important;
}

/* footer */
footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #76323f;
    color: #d7c3c7;
    height: 10vh;
    text-align: center;
}

/* container */
.container {
    margin: 3rem auto;
    max-width: 90vw;
    min-height: 90vh;
    display: flex;
}

.main-content {
    width: 80%;
}

/* side-bar */
.side-bar {
    width: 20%;
    padding: 0 2rem;
    line-height: 2rem;
}

.side-bar h4 {
    font-size: 1.3rem;
    margin: 0;
    line-height: 3rem;
}

.side-bar div {
    display: flex;
    flex-direction: column;
}

.side-bar-author {

}

/* post-in-list */
.post-in-list {
    display: flex;
    background-color: white;
    margin-bottom: 2rem;
    padding: 1rem;
}

.post-in-list-eye-catch {
    width: 50%;
    max-height: 300px;
    text-align: center;
}

.post-in-list-eye-catch img {
    height: 100%;
}

.post-in-list-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 0 1rem;
}

.post-in-list-title {
    font-size: 1.5rem;
    margin: 1rem 0;
}

.post-in-list-date-author {
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
}

.post-in-list-excerpt {
    min-height: 100px;
    color: gray;
    padding-top: 2rem;
}

/* post */
.post {
    background-color: white;
    padding: 1rem;
}

.post-title {
    font-size: 3rem;
}

.post-eye-catch {
    max-width: 100%;
    margin: 3rem 0;
}

.post-content {
    margin: 5rem 0;
}

.post-content img {
    max-height: 600px;
}

.post-categories {
    display: flex;
}

/* pagination */
.pagination {
    width: 50%;
    margin: 2rem auto;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.pagination a {
    font-size: 1rem;
    background-color: #76323f;
    color: #d7c3c7;
    border-radius: 4px;
    padding: 1px 1rem;
}

.currentPage {
    font-size: 1rem;
    background-color: #d7c3c7;
    color: #76323f;
    border-radius: 4px;
    padding: 1px 1rem;
    text-align: center;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

/* authors */
.authors {
    height: 100%;
    background-color: white;
    padding: 1rem;
}

.authors h4 {
    font-size: 2rem;
    margin-top: 0;
}

.author-name {
    font-size: 1.5rem;
    border-bottom: solid 2px #d7c3c7;
}

.author-description {
    color: gray;
    margin-top: 0.8rem;
    margin-bottom: 2rem;
    word-break: break-all;
}

/* contact */
.contact-form {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 80%;
    padding: 3rem 5rem;
    background-color: white;
}

.contact-form h3 {
    margin-bottom: 20px;
}

.item {
    margin-bottom: 1rem;
}

.contact-form label {
    width: 40%;
    text-align: left;
    float: left;
    border-left: solid #76323f;
    padding-left: 5px;
}

.contact-form input {
    width: 50%;
    float: left;
}

.contact-form textarea {
    width: 50%;
    float: left;
}

.contact-form button {
    width: 20%;
    height: 2rem;
    font-size: 1rem;
    margin: 0 auto;
    background-color: #76323f;
    color: white;
    border: none;
    cursor: pointer;
    margin-bottom: 5px;
}

.contact-form button:active {
    opacity: 0.5;
}

.contact-form button:disabled {
    opacity: 0.5;
    cursor: default;
}